*{
    margin: 0;
    padding: 0;
    font-family:  'Open Sans'sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.main-container    {
    position: relative;
    width: 1728px;
    height: 1117px;
    background: #ffff;
}
.image{
    position: absolute;
    width: 144px;
    height: 44px;
    left: 82px;
    top: 40px;
}
.sidebar{
    position: fixed;
    width: 307px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #ffff;
    box-shadow: 2px 0px 45px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    z-index: 2;
}
.items{
    position: absolute;
    width: 307px;
    height: 220px;
    padding: 0px;
    gap: 14px;
    left: 0px;
    top: 164px;
}
.items ul li {
    width: 100%;
    list-style: none;
}
.items ul li a{
    width: 100%;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Open Sans';
    color: rgb(165, 165, 164);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 4px 8px 58px;
    gap: 8px;
}
.items ul li a:hover{
    background-color: #D00000;
    color: white;
}
.log {
    position: absolute;
    width: 120px;
    height: 38px;
    left: 58px;
    top: 90%;
}
.log ul li {
    width: 100%;
    list-style: none;
}
.log ul li a{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 8px;
    color: #D00000;
    font-size: 22px;
}
.log ul li a img::after{
    color: #D00000;
}
.container-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
    position: absolute;
    width: 1325px;
    height: 1077px;
    left: 332px;
    top: 40px;
}
.topbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 1325px;
    height: 78px;
    /* left: 332px;
    top: 40px; */
}
.people-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 17px;
    color: #000000;
    width: 270px;
    height: 33px;
    font-weight: 600;
    line-height: 33px;
}
.search-bar{
    position: relative;
    display: flex;
    width: 300px;
    gap: 8px;
    height: 33px;
    border-radius: 8px;
}
.search {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 4px 23px 2px 30px;
    /* padding: 12px 20px; */
    outline: 0;
    background: #F8F8F8;
}
.search-icon {
    position: absolute;
    top: 11px;
    left: 8px;
    width: 14.58px;
  }

.search:hover, .search:focus {
    border: 1px solid #F8F8F8;
    background-color: white;
}
.user{
    display: flex;;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 256px;
    height: 78px;
    
}
.comment-session{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 900px;
    height: 945px;
}
.comment-chat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 257.57px;
    height: 276.72px;
    /* border: 2px solid #000000; */
}
