*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
max-width: 100%;
}


*, *::before, *::after{
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
font-family: 'Poppins', sans-serif;
margin: 0 auto !important;
}

nav {
    background: linear-gradient(
        to right,
        #4F5162 0%,
        #4F5162 45%,
        #fff 45%,
        #fff 100%
    );
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    padding: 0.2rem;
}

.logo-img{
    width: 120px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li{
    padding: 0 0.5rem !important;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    color:  #d00000;
    font-size: 1.2rem;
    transition: 0.2s ease;
}

nav .mainMenu li a:hover{
    color: #d00000 !important;
}

.hidden1 .hidden2{
    padding: 1.5rem !important;
}

.signUp-button, .navigation-button, .hidden1, .hidden2{
    margin-left: 0.5rem;
    padding: 10px;
    background-color: #d00000;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navigation-button, .hidden2{
background-color: #fff;
padding: 8px;
border: 2px solid #d00000;
}

button a{
padding: 20px;
text-decoration: none;
}

.signUp-button a, .hidden1 a{
    color: #fff;
} 
.navigation-button a, .hidden2 a{
color: #d00000;
}

.signUp-button a:hover, .navigation-button a:hover, .hidden1 a:hover, .hidden2 a:hover{
color: #4F5162;
}

.hidden1, .hidden2{
display: none !important;
}
/*nav .mainMenu li a:active::after {
    background-color: red;
    border-radius: 5%;
    content: '';
    display: block;
    height: 0.2rem;  
    margin: 0.4rem auto 0 auto;
    width: 3.5rem;
}*/

nav .openMenu, .closeMenu {
    font-size: 2rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
}

div#info{
background-color: #4F5162;
color: #fff;
width: 49.1%;
}

div#info img{
width: 100%;
}

.first_info{
padding: 2em;
font-size: 18px;
font-weight: 400;
line-height: 25px;

}

main{
display: flex;
}

#form{
width: 60%;
margin: auto;
}

#form_container{
width: 50%;
margin: auto;
}

#form h2,#form p, #form h4{
text-align: center;
}

#form p{
font-weight: 400;
font-size: 15px;
line-height: 15px;
}

#form h4{
font-size: 20px;
line-height: 20px;
font-weight: 600;
}

#form h2{
font-weight: 600;
font-size: 30px;
line-height: 33px;
}

.red{
color: #9d0208;
}

#form h4, #form p{
color: #03071e;
}

/* #form_login{
margin-top: 1em;
} */

input[type="text"], input[type="password"]{
width: 100%;
padding: 1em;
border-radius: 10px;
margin: 0 3em 2em;
border: 1px solid gray;
}
button{
    width: fit-content;
}

.login, .account{
    width: 70%;
    margin-left: 100px;
    padding: 10px;
    border-radius: 20px;
    /* justify-content: center; */
}

button.login{
background-color:#9d0208;
color: #fff;
margin-top: 2em;
border: none;
}

button.account{
background-color: #fff;
color: #d00000;
border-color: #d00000;
}
label{
margin: 2.5em;
font-size: 15px;
}

span.noAccount{
margin-left: 11em;
font-size: 15px;
}

.forgotPassword{
margin-left: 1.1em;
font-size: 15px;
}

footer{
height: 40%;
display: flex;
color: #fff;
background-image: url(login_images/footer-background-image.svg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

div#more_info{
width: 45%;
border: thin solid gray;
border-radius: 4px;
padding: 5em;
font-size: 12px;
margin-top: 5%;
margin-left: 5%;
background-color: rgba(255, 255, 255, 0.2);
}

div#more_info img{
width: 80px;
height: 20px;
position: relative;
left: -8px;
}

div#links{
display: flex;
font-size: 15px;
position: relative;
right: -500px;
top: -600px;
}

div#links li{
list-style: none;
margin: .5em;
line-height: 50px
}

div#links h2{
margin-top: 5em;
}

div#links h2, div#contact_us h2{
color: #ffba08;
}

div#links li>a {
text-decoration: none;
color: #fff;
}

div#contact_us{
margin-top: 8em;
text-align: center;
width: 40%;
}

div#contact_us h2{
font-size: 25px;
padding: .5em;
}

div#contact_us p{
font-size: 25px;
padding-bottom: .5em;
}

div#contact_us input{
width: 80%;
padding: 1.5em;
margin-right: 1em;
border-radius: 10px;
font-size: 15px;
color: #564a4a;
}

div#contact_us button{
width: 30%;
border-radius: 10px;
padding: 3em;
font-size: 5px;
position: relative;
right: -100px;
top: -55px;
color: #fff;
background-color: #9d0208;
}

div#policy{
width: 100%;
display: flex;
justify-content: space-between;
background-color: #000;
color: #ffffff;
padding: 60px;
}

div#policy a{
color: #ffffff;
text-decoration: none;
}

/* tablet design */

@media screen and (max-width: 1160px) {
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: .3em;
}

#form_container{
    width: 50%;
    margin-left: 5em;
}

#form h2,#form p, #form h4{
    margin-right: 2em;
}
}

.main {
    background-image: url("../images/about/rect 2.png");
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-color: rgba(48, 28, 28, 0.829);
    background-blend-mode: darken;
    margin-top: 80px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}

.sect-3 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'w x y z'
    'w x y z'
    'w x y z'
    'w x y z'
    'w x y z'
    ;
    padding-top: 50px;
}

.item-1 {
    grid-area: w;
    margin: 20px;
}

.item-1 p {
    color: white;
}

.item-2 {
    grid-area: x;
    margin: 20px;
}

.item-2 ul li {
    list-style-type: none;
}

.item-2 ul li a {
    text-decoration: none;
    color: white;
}

.item-3 {
    grid-area: y;
    margin: 20px;
}

.item-3 ul li {
    list-style-type: none;
}

.item-3 ul li a {
    text-decoration: none;
    color: white;
}

.item-4 {
    grid-area: z;
    margin: 20px;
}

.item-4 ul li {
    list-style-type: none;
}

.item-4 ul li a {
    text-decoration: none;
    color: white;
}

.blur {
    width: 580px;
    height: auto;
    left: 138px;
    top: 106px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(23.9931px);
    border: 3px rgba(255, 255, 255, 0.568) solid;
    border-radius: 8px;
    padding: 30px;
}

.contact-txt {
    margin-top: 120px;
    width: 40%;
    margin-left: auto;
    margin-right: 200px;
}

.contact-txt h2{
    color: rgb(255, 166, 0);
    font-weight: normal;
    text-align: center;
}

.contact-txt p {
    margin-bottom: 30px;
    text-align: center;
}

.subscribe {
    margin-left: 120px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    max-width: max-content;
    height: 57px;
    background: #8E8686;
    border: 1px solid #8E8686;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe button {
    background-color: rgba(208, 0, 0, 1);
    border: none;
    border-radius: 15px;
    padding: 12px;
    color: white;
    /* margin-left: 31px; */
}

.subscribe form input {
    padding: 12px;
    border: none;
    background-color: #8E8686;
}

.item-2 h2, .item-3 h2, .item-4 h2 {
    color: rgb(255, 166, 0);
    font-weight: normal;
    margin-top: 100px;
}

.item-2 li a, .item-3 li a, .item-4 li a {
    line-height: 2.5em;
}

.item-2 li, .item-3 li, .item-4 li {
    font-weight: lighter;
}

.copy {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: lighter;
    padding: 30px;
}

.copy a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px) {
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 3px;
    }

    #leftLinks{
        padding: 1em;

    }

    span.noAccount{
        margin-left: 10em;
        font-size: 15px;
    }

    .forgotPassword{
        margin-left: .5em;
        font-size: 15px;
    }

}
  
@media screen and (max-width: 500px) {

#topnav {
    overflow: hidden;
    background-color: hsla(230, 81%, 6%, 50%);
    position: relative;
}

#topnav #myLinks {
    display: none;
}


#myLinks ul li {
    display: block;
    text-align: right;
}

.topnav a.icon {
background-color: black;
font-size: 25px;
display: block;
position: absolute;
right: 20px;
top: 40px;
}

#myLink{
background-color: hsla(230, 81%, 6%, 50%);
display: block;
}

nav ul li{
display: block;
}


#myLinks ul li a{
text-decoration: none;
}

div#info{
width: 100%;
}

main{
display: grid;
}

#form{
width: 100%;
}

#form_container{
width: 60%;
margin-left: 1.5em;
}

#form h2{
margin-top: 4em;
}

#form h4{
margin-top: .5em;
}

#form p{
margin-top: .5em;
}

#form p{
font-weight: 400;
font-size:x;
}

span.noAccount{
margin-left: 10.5em;
}

.forgotPassword{
margin-left: .5em;
}

div#more_info{
width: 80%;
padding: 3em;
}

div#links{
position: relative;
right: -80px;
top: -0px;
font-size: xx-small;
padding: 1em;
}

div#links li{
list-style: none;
margin: .5em;
padding: .5em;
line-height: 20px
}

div#links h2{
margin-top: 8em;
}

footer{
height: 45vh;
}

div#contact_us{
position: absolute;
bottom: -300px;
left: 150px;
}

div#contact_us h2{
font-size: 20px;
}

div#contact_us p{
font-size: 15px;
}

div#contact_us input{
width: 100%;
padding: 1em;
margin-left: -3.5em;
border-radius: 10px;
}

div#contact_us button{
width: 40%;
padding: 2em;
font-size: 5px;
position: relative;
right: -50px;
top: -43px;
color: #fff;
background-color: #9d0208;
}

div#policy{
padding: 1em;
font-size: small;
position: absolute;
bottom: -400px;
}
}

@media screen and (max-width: 375px){ 
#form h4{
    padding-left: 1em;
    margin-top: .5em;
    font-size: small;
}

span.noAccount{
    margin-left: 5.5em;
}

.remember{
    font-size: xx-small;
}

.forgotPassword{
    padding-left: 1em;
    font-size: xx-small;
}

div#more_info{
    padding: 2em;
}

div#links{
position: relative;
right: -25px;
}

footer{
    height: 40vh;
}

div#contact_us{
    position: absolute;
    bottom: -100px;
    left: 100px;
}

div#contact_us p{
    font-size: 10px;
}
}

div#contact_us button{
    width: 35%;
    padding: 2em;
    font-size: 2.5px;
    position: relative;
}

div#policy{
    padding: 1em;
    font-size: xx-small;
    position: absolute;
    bottom: -180px;
}