*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
max-width: 100%;
}


*, *::before, *::after{
    box-sizing: border-box;
}
/********new changes  header  bar by shaks**********/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #e5e5e500;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 0px;
}
.img{
    height: 20px;
}
.img img{
    width: 200px;
    height: 50px;
    margin-left: 30px;
}
.nav{
    width: 70%;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: rgba(48, 46, 46, 0.644);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    width: 20%;
    justify-content: space-evenly;
}
a button, button{
    border-radius: 16px;
    /* width: 110px; */
    height: 37px;
    font-size: 16px;
    border: 1.5px solid hsla(0, 100%, 41%, 1);
    border-radius: 10px;
}
.one{
    background-color: hsla(0, 100%, 41%, 1);
    color: aliceblue;
    max-width: 200px;
}
.two{
    color: hsla(0, 100%, 41%, 1);
    background-color: rgb(253, 253, 253);
}
.btn1{
    max-width: max-content;
}
.btn1 .one{
    width: 150px;
}

.two{
    width: 150px;
}

button:hover{
    cursor: pointer;
}
button:focus{
    transition: all 300ms ease-out;
    width: 101px;
    height: 41px;
    opacity: 0.8;
}

    /********new changes  header bar shaks**********/
div#info{
background-color: #4F5162;
color: #fff;
width: 49.1%;
}

div#info img{
width: 100%;
}

.first_info{
padding: 2em;
font-size: 18px;
font-weight: 400;
line-height: 25px;

}

main{
display: flex;
}

#form{
width: 60%;
margin: auto;
}

#form_container{
width: 50%;
margin: auto;
}

#form h2,#form p, #form h4{
text-align: center;
}

#form p{
font-weight: 400;
font-size: 15px;
line-height: 15px;
}

#form h4{
font-size: 20px;
line-height: 20px;
font-weight: 600;
}

#form h2{
font-weight: 600;
font-size: 30px;
line-height: 33px;
}

.red{
color: #9d0208;
}

#form h4, #form p{
color: #03071e;
}

/* #form_login{
margin-top: 1em;
} */

input[type="text"], input[type="password"]{
    width: 40%;
    padding: 1em;
    border-radius: 10px;
    /* margin: 0 3em 2em; */
    border: 1px solid gray;
}
button{
    max-width: 200px;
}

.login, .account{
    width: 70%;
    margin-left: 100px;
    padding: 10px;
    border-radius: 20px;
    /* justify-content: center; */
}

button.login{
    background-color:#9d0208;
    color: #fff;
    margin-top: 2em;
    border: none;
}

button.account{
    background-color: #fff;
    color: #d00000;
    border-color: #d00000;
    margin-top: 2em;
    margin-right: 60px;
}
label{
/* margin: 2.5em; */
font-size: 15px;
}

span.noAccount{
/* margin-left: 11em; */
font-size: 15px;
}

.remember{
    margin-left: 310px;
}

.forgotPassword{
margin-left: 1.1em;
font-size: 15px;
}

    /********new changes  footter bar**********/
footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #000;
}
.ft{
    display: flex;
    column-gap: 10px;
    margin: 0 0 20px 0;
    background-color: hsla(0, 0%, 4%, 0.856);
    position: relative;
    background-blend-mode: darken;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.ft::before{
    content: '';
    background-image: url("../images/index/footer-background-image.svg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.foot{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    justify-content: center;
    padding: 15px;
    text-align: center;
    line-height: 25px;
    row-gap: 90px;
    color: white;
    position: relative;
}
.foot1{
    display: none;
    height: fit-content;
    justify-content: center;
    padding: 15px;
    text-align: center;
    line-height: 25px;
    row-gap: 90px;
    color: white;
    position: relative;
}
input{
    height: 30px;
    width: 150px;
    border: 0 solid antiquewhite;
    background-color: #8E8686;
}
.others{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    color: hsla(0, 0%, 100%, 1);
    margin-top: 80px;
    position: relative;
}
.footer-txt{
    text-align: left;
    border: 1.5px solid bisque;
    padding: 20px;
    max-width: 630px;
    left: 138px;
    top: 106px;
    border-radius: 8px;
    font-family: 600;
    line-height: 32.68px;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.2);
    color: hsla(0, 0%, 100%, 0.8);
}
.conct div{
    background-color: #8E8686;
    padding: 5px;
    width: fit-content;
    border-radius: 16px;
    border: 0;
    margin: auto;
    font-size: 30px;
}
.cont1{
    display: none;
}
.pages, .services, .resources{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.pages a, .privacy a{
    color: beige;
}
.t-and-c{
    display: flex;
    justify-content: space-between;
}
.rights, .privacy{
    padding: 15px;
}


/* stylings for FAQs page */

.fq-head{
    background-position: center;
    background-image: url("../images/index/bg-faqs.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.pg-image{
    display: flex;
    justify-content: center;
    background-position: center;
    background-image: url("../images/index/bg-faqs.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
figure img{
    width: 100px;
}
.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    font-size: small;
    margin: 20px;
}
.faqs{
    display: flex;
    justify-content: space-evenly;
    column-gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 30px;
}
.first{
    width: 18%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    box-shadow: 2px 2px 2px hsla(209, 11%, 55%, 0.664);
}
/* .first:hover{
    transition: all 6s ease-in-out 10s, transform 2s;
    transform: translate3D(2%, 2%, -25px);
} */
.numbr{
    text-align: center;
    height: 25px;
    padding-top: 5px;
    width: 25px;
    border-radius: 100%;
    position: relative;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgba(106, 4, 15, 0.9);;
}
.quest{
    display: flex;
    float: left;
    padding-right: 20px;
}
.answer{
    display: flex;
    padding-left: 20px;
    float: right;
}
.person1 img, .person2 img{
    width: 30px;
}

/* tablet design */

@media screen and (max-width: 1160px) {
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: .3em;
}

#form_container{
    width: 50%;
    margin-left: 5em;
}

#form h2,#form p, #form h4{
    margin-right: 2em;
}
}

.main {
    background-image: url("../images/about/rect 2.png");
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-color: rgba(48, 28, 28, 0.829);
    background-blend-mode: darken;
    margin-top: 80px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}

.sect-3 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'w x y z'
    'w x y z'
    'w x y z'
    'w x y z'
    'w x y z'
    ;
    padding-top: 50px;
}

.item-1 {
    grid-area: w;
    margin: 20px;
}

.item-1 p {
    color: white;
}

.item-2 {
    grid-area: x;
    margin: 20px;
}

.item-2 ul li {
    list-style-type: none;
}

.item-2 ul li a {
    text-decoration: none;
    color: white;
}

.item-3 {
    grid-area: y;
    margin: 20px;
}

.item-3 ul li {
    list-style-type: none;
}

.item-3 ul li a {
    text-decoration: none;
    color: white;
}

.item-4 {
    grid-area: z;
    margin: 20px;
}

.item-4 ul li {
    list-style-type: none;
}

.item-4 ul li a {
    text-decoration: none;
    color: white;
}

.blur {
    width: 580px;
    height: auto;
    left: 138px;
    top: 106px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(23.9931px);
    border: 3px rgba(255, 255, 255, 0.568) solid;
    border-radius: 8px;
    padding: 30px;
}

.contact-txt {
    margin-top: 120px;
    width: 40%;
    margin-left: auto;
    margin-right: 200px;
}

.contact-txt h2{
    color: rgb(255, 166, 0);
    font-weight: normal;
    text-align: center;
}

.contact-txt p {
    margin-bottom: 30px;
    text-align: center;
}

.subscribe {
    margin-left: 120px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    max-width: max-content;
    height: 57px;
    background: #8E8686;
    border: 1px solid #8E8686;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe button {
    background-color: rgba(208, 0, 0, 1);
    border: none;
    border-radius: 15px;
    padding: 12px;
    color: white;
    /* margin-left: 31px; */
}

.subscribe form input {
    padding: 12px;
    border: none;
    background-color: #8E8686;
}

.item-2 h2, .item-3 h2, .item-4 h2 {
    color: rgb(255, 166, 0);
    font-weight: normal;
    margin-top: 100px;
}

.item-2 li a, .item-3 li a, .item-4 li a {
    line-height: 2.5em;
}

.item-2 li, .item-3 li, .item-4 li {
    font-weight: lighter;
}

.copy {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: lighter;
    padding: 30px;
}

.copy a {
    text-decoration: none;
    color: white;
}
/********* fot testing only*********/
@media screen and (max-width: 1000px) {
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 3px;
    }

    #leftLinks{
        padding: 1em;

    }

    span.noAccount{
        margin-left: 10em;
        font-size: 15px;
    }

    .forgotPassword{
        margin-left: .5em;
        font-size: 15px;
    }

}
  
@media screen and (max-width: 500px) {

    header{
        width: 100%;
    }
    .buttons, .nav{
        display: none;
    }
    #main button{
        display: flex;
    }
    button{
        width: 143.19px;
    }
    .logo-2{
        text-align: left;
    }

    #myLinks{
        position: absolute;
        top: 60px;
        width: 100%;
    }

    #myLinks ul{
        padding: 30px !important;
        background: rgba(119, 106, 106, 0.082);
        backdrop-filter: blur(50px);
        width: 100% !important;
        height: 55vh;
    }

    #myLinks ul li {
        display: block;
        text-align: center;
    }

    #myLinks .hide {
        display: block;
        text-align: center;
    }

    #myLinks ul li a{
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    .next{
        background-color: #4F5162;
    }

    .next .info-1{
        color: white;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    
    #form-1{
        width: 80%;
        margin: auto;
    }

    .main .sect-3{
        display: flex;
        flex-direction: column;
    }
    /********new changes  footter bar**********/
    .foot1{
        display: flex;
    }
    .footer-txt1{
        display: none;
    }
    .conct1 div{
        background-color: #8E8686;
        padding: 5px;
        width: fit-content;
        border-radius: 16px;
        border: 0;
        margin: auto;
    }
    .conct{
        display: none;
    }
    footer{
        font-size: 13px;
    }
    .ft{
        font-size: 16px;
        flex-direction: column;
    }
    .foot, .others, .foot1{
        width: 90%;
        margin: 30px auto;
        font-size: 12px;
        line-height: 16px;
    }
    .others{
        font-size: 8.14891px;
        line-height: 11px;
    }
    .t-and-c{
        font-size: 7.06215px;
        line-height: 10px;
    }
    /* media query for FAQs page */

    .first{
        width: 40%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        box-shadow: 2px 2px 2px hsla(209, 11%, 55%, 0.664);
    }

}
