<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="logo">
            <img src="{% static 'images/about/logo.png' %}" alt="logo">
        </div>
        <div class="header">
            <div class="search">
                
            </div>
        </div>
        <div class="sidebar">
            <h1>Notifications</h1>
            <p>All</p>
        </div>
    </section>
</body>
</html>