<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="all_followers.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="sidebar">
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <h1>Notifications</h1>
            <p>All</p>
        </div>
        <div class="top">
            <div class="search">
                <img src="images/search.svg" alt="search">
                <input type="text" placeholder="Search nearby schools">
            </div>
            <div class="others">
                <img class="icons" src="images/message.svg" alt="message">
                <img class="icons" src="images/notification.svg" alt="notification">
                <img class="profile_img" src="images/profile.png" alt="profile_pic" width="35px" height="35px">
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="msg">
            <img src="images/profile.png" alt="profile_pic" width="35px" height="35px">
            <p>David sent you a contend message</p>
            <small><a href="#">view</a></small>
        </div>
    </div>
</body>
</html>