{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard</title>
</head>
<body>
    {% if user.is_authenticated %}
    <section class="body-1">
    <div class="main-container">
        <div class="sidebar">
            <div class="image">
                <a href="{% url 'homepage' %}"><img src="{% static 'images/dashboard/logo.png' %}" alt="debtors-logo"></a>
            </div>
            <div class="items">
                <ul>
                    <li style="background-color: rgb(199, 0, 0);"><a href="#" class="active"><img src="{% static 'images/dashboard/Dashboard-icon.svg' %}" alt="Dashboard-icon" class="icons">Dashboard</a></li>
                    <li><a href="{% url 'feed' %}"><img src="{% static 'images/dashboard/feed-icon.svg' %}" alt="feed-icon" class="icon">Feed</a></li>
                    <li><a href="#"><img src="{% static 'images/dashboard/contend-icon.svg' %}" alt="contend-icon" class="icon">Contend</a></li>
                    <li><a href="{% url 'settings' %}"><img src="{% static 'images/dashboard/settings-icon.svg' %}" alt="eva_settings-2-fill" class="icon">Settings</a></li>
                </ul>
            </div>
            <div class="log">
                <ul><li><a href="{% url 'logout' %}"><img src="{% static 'images/dashboard/logout-icon.svg' %}" alt="logout-icon"><span style="color: white;">...</span>Log out</a></li></ul>
            </div>
        </div>
        <div class="topbar">
                <!-- CREATED A FORM FOR USER TO PERFORM THEIR SEARCH -->
                <form class="search-forms" action="{% url 'search_students' %}" method="POST">
                    {% csrf_token %}
                    <input type="text"  class="search" id="search-text" placeholder="Search Students" name="searched">  
                <!-- CREATED A BUTTON FOR THE SEARCH BAR -->
                    <button type="submit">search</button>
                </form>
            <!-- </div> -->
            <div class="user">
                <img src="{% static 'images/dashboard/message.svg' %}" alt="message-icon" class="message-icon" style="width: 40px; margin: 5px; padding: 10px;">
                <img src="{% static 'images/dashboard/notification.svg' %}" alt="message-icon" class="message-icon" style="width: 40px; margin: 5px; padding: 10px;">
                <img src="{% static 'images/dashboard/dashboard user image.png' %}" alt="dashboard-user" class="image-2">
            </div>
        </div>
        <div class="add-school">
            <br>
            <div class="steph">
                <h3>Welcome, {{ user.first_name }}</h3>
            </div>
            <div class="school-container">
                <div class="school-name">
                    <h2>{{ user.last_name }}</h2>
                </div>
                <div class="school-input">
                    <ul>
                        <li><a href="{% url 'add-debtor' %}"><img src="{% static 'images/dashboard/add-icon.svg' %}" alt="">Add Student</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="list">
            <div class="student-list">
                <a class="active" href="#">All Student</a>
                <a href="#">Active</a>
                <a href="#">Pending</a>
                <a href="#">Resolved</a>
            </div>
            <div class="filter">
                    <div class="search-main" id="search-result"><img src="{% static 'images/dashboard/Filter and Sort (1).svg' %}" alt="search-bar" class="search-icon">
                    <input type="text"  class="search-tools" id="search-table" placeholder="Filter by students ID">  
                </div>
                <div class="calender">
                <img src="{% static 'images/dashboard/calendar-icon.png' %}" alt="calendar-icon" class="calender-icon" style="width: 20px; height:20px;">
                    <select id="select-all" class="calender-tools">
                        <option value="may">May-June</option>
                        <option value="august">July-August</option>
                        <option value="october">September-October</option>
                        <option value="december">November-December</option>
                    </select>
                </div>
            </div>


        </div>
        
        <hr style="color: grey;">
        <div class="students" id="result">
            <table frame=void rules=rows>
                <thead>
                    <td>NAME</td>
                    <td>STUDENT'S ID</td>
                    <td>EMAIL</td>
                    <td>DEBT</td>
                    <td>AMOUNT PAID</td>
                    <td>STATUS</td>
                    <td>EDIT</td>
                </thead>
                <tbody>
                    {% for post in posts %}
                    {% if post.author == user.id %}
                    <tr class="active-student">
                        <td class="name">{{ post.name }}</td>
                        <td class="student-id">{{ post.Student_id }}</td>
                        <td class="email">{{ post.Email }}</td>
                        <td class="debt">#{{ post.Debt }}</td>
                        <td class="amount-paid">#{{ post.AmoutntPaid }}</td>
                        <td class="active">{{ post.status }}</td>
                        <td class="edit-image"><img src="{% static 'images/dashboard/edit icon.png' %}" alt="edit-icon"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

                </table>
            <div class="table">
            </div>
        </div>
    </div>
</section>

<section class="body-2">
    <nav class="navbar-2">
        <div class="g-0"><img class="logo-2" src="{% static 'images/contend/team_logo.png' %}" alt="brand Logo"></div>
        <img src="{% static 'images/dashboard/dashboard user image.png' %}" alt="dashboard-user" style="width: 50px; height: 50px;">
    </nav>
    <div class="logout">
        <a href="{% url 'logout' %}"><img src="{% static 'images/dashboard/logout-icon.svg' %}" alt="logout-icon"><span style="color: white;">...</span>Log out</a>
    </div>
    <div class="links" style="padding-top: 20px;">
        <ul>
            <span style="color: white;">---</span><li><a  href="#">Dashboard</a></li>
            <li><a href="{% url 'feed' %}">Feed</a></li>
            <li><a href="#">Contend</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
        </ul>
    </div>
    <div style="padding-top: 40px; width: 80%; margin: auto;">
        <form class="search-forms" action="{% url 'search_students' %}" method="POST">
            {% csrf_token %}
            <input type="text"  class="search" id="search-text" placeholder="Search Students" name="searched">  
        <!-- CREATED A BUTTON FOR THE SEARCH BAR -->
            <button type="submit">search</button>
        </form>
    </div>
    <div class="next">
        <br>
        <div>
            <h3>Welcome, {{ user.first_name }}</h3>
        </div>
        <div>
            <div>
                <h2>{{ user.last_name }}</h2>
            </div>
            <div>
                <ul>
                    <li style="background-color: rgb(192, 0, 0); align-items: center; margin-left: 10px; border-radius: 10px; max-width: max-content; list-style-type: none; padding: 10px;"><a style="text-decoration: none; color: white; font-size: 10px;" href="{% url 'add-debtor' %}"><img style="width: 20px;" src="{% static 'images/dashboard/add-icon.svg' %}" alt="">Add Student</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="status">
        <a style="color: red;" href="#">All Student</a>
        <a href="#">Active</a>
        <a href="#">Pending</a>
        <a href="#">Resolved</a>
    </div>
    <br>
    <br>
    <hr style="color: grey;">
        <div class="" id="">
            <ul style="list-style-type: none;">
                {% for post in posts %}
                {% if post.author == user.id %}
                    <li class="name">NAME: {{ post.name }}</li>
                    <li class="student-id">STUDENT'S ID: {{ post.Student_id }}</li>
                    <li class="email">EMAIL: {{ post.Email }}</li>
                    <li class="debt">DEBT: #{{ post.Debt }}</li>
                    <li class="amount-paid">AMOUNT PAID: #{{ post.AmoutntPaid }}</li>
                    <li class="active">STATUS: {{ post.status }}</li>
                    <li class="edit-image">EDIT: <img src="{% static 'images/dashboard/edit icon.png' %}" alt="edit-icon"></td>
                {% endif %}
                {% endfor %}
            </ul>      
</section>
{% else %}
    <h1>You are not logged in</h1>
{% endif %}
    <script>
        $(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            })
        });
    </script>
</body>
</html> 