{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/register.css' %}">
</head>
<body>
    <nav class="navbar d-flex flex-row align-items center g-0" id="mainNav">
        <div class="g-0"><img class="logo-img" src="{% static 'images/contend/team_logo.png' %}" alt="brand Logo"></div>
        <ul class="mainMenu">
            <li><a href="#">Home</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="#">About Us</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="#">FAQs</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="#">Contact Us</a></li>
    
            <button class="hidden1"><a href="#">Sign Up</a></button>
            <button class="hidden2"><a href="#">log in</a></button>
    
            <div class="closeMenu g-0"><i class="fa fa-times"></i></div>
        </ul>
        <button class="signUp-button"><a href="#">Sign Up</a></button>
        <button class="navigation-button"><a href="#">log in</a></button>
        <div class="openMenu g-0"><i class="fa fa-bars"></i></div>
    </nav>
    <div class = "main">
        <section>
            <div class ="first">
                <div id = "div1"><p class = "top">A few click away to get your school registered to have full access to our platform in other to track your school's debtors</p></div>
                <div id = "div2"><img src="{% static './images/registration/login-background.png' %}"height="auto" width="100%"></div>
            </div>   
        <div class = "second">
            <p class="heading">Fill the Form</p>
            <h2>Manage all your school cash flow efficiently</h2>
            <p class = "p1">Input the verification code sent to your email then proceed</p>
            <div class="form-group">
                <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="">School Name:</label>
                    <input class="form-control" type="text" name="name" placeholder="School name" required><br>
            
                    <label for="">School Administrator's Name:</label>
                    <input class="form-control" type="text" name="admin_name" placeholder="School admin name" required><br>
            
                    <label for="">School Address:</label>
                    <input class="form-control" type="text" name="address" placeholder="Schooladdress" required><br>
            
                    <label for="">Phone Number:</label>
                    <input class="form-control" type="number" name="number" placeholder="school phone number" required><br>
            
                    <label for="">Zip code:</label>
                    <input class="form-control" type="number" name="zip_code" placeholder="zip code" required><br>
            
                    <label for="">C.A.C Code:</label>
                    <input class="form-control" type="number" name="code" placeholder="valid C.A.C code" required><br>
            
                    <label for="">School Image:</label>
                    <input class="form-control" type="file" name="photo" required><br>
            
                    <label for="">School Cerificate of Approval:</label>
                    <input class="form-control" type="file" name="certificate_img" required><br>
            
                    <button class="btn btn-danger" type="submit">Submit</button>
                </form>
            </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="mains">
            <div class="sect-3">
                <div class="item-1">
                    <div class="blur">
                        <img src="{% static 'images/about/logo.png' %}" alt="logo">
                        <p>
                            My Debtors is a searcheable database for
                            schools to locate or contact their debtors
                            We serve as middlemen between the schools
                            and the owing students.
                        </p>
                    </div>
                    <div class="contact-txt">
                        <h2>Contact Us</h2>
                        <p>You can contact us via email</p>
                    </div>
                    <div class="subscribe">
                        <form action="{ url 'contact' %}" method="POST">
                            <input type="text" name="email" id="email" placeholder="Enter email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="item-2">
                    <ul>
                        <h2>Pages</h2>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Post/Comment</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Debtors List</a></li>
                        <li><a href="#">Debtors Profile</a></li>
                    </ul>
                </div>
                <div class="item-3">
                    <ul>
                        <h2>Services</h2>
                        <li><a href="#">Notify Debtors</a></li>
                        <li><a href="#">Help Schools Track Their Debtors</a></li>
                        <li><a href="#">Access To View Other Schools Debtors List</a></li>
                        <li><a href="#">Debtors Can Contend</a></li>
                        <li><a href="#">Schools Can Comment On Other Schools Post</a></li>
                    </ul>
                </div>
                <div class="item-4">
                    <ul>
                        <h2>Resources</h2>
                        <li><a href="#">Figma</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Python</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2022 All Rights Reserved</p>
                <div>
                    <a href="#">Privacy |</a>
                    <a href="#"> Terms & Conditions |</a>
                    <a href="#"> Disclaimer</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- <footer>
        <div class="main">
            <div class="sect-3">
                <div class="item-1">
                    <div class="blur">
                        <img src="{% static 'images/about/logo.png' %}" alt="logo">
                        <p>
                            My Debtors is a searcheable database for
                            schools to locate or contact their debtors
                            We serve as middlemen between the schools
                            and the owing students.
                        </p>
                    </div>
                    <div class="contact-txt">
                        <h2>Contact Us</h2>
                        <p>You can contact us via email</p>
                    </div>
                    <div class="subscribe">
                        <form action="">
                            <input type="text" placeholder="Enter email">
                            <button>Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="item-2">
                    <ul>
                        <h2>Pages</h2>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Post/Comment</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Debtors List</a></li>
                        <li><a href="#">Debtors Profile</a></li>
                    </ul>
                </div>
                <div class="item-3">
                    <ul>
                        <h2>Services</h2>
                        <li><a href="#">Notify Debtors</a></li>
                        <li><a href="#">Help Schools Track Their Debtors</a></li>
                        <li><a href="#">Access To View Other Schools Debtors List</a></li>
                        <li><a href="#">Debtors Can Contend</a></li>
                        <li><a href="#">Schools Can Comment On Other Schools Post</a></li>
                    </ul>
                </div>
                <div class="item-4">
                    <ul>
                        <h2>Resources</h2>
                        <li><a href="#">Figma</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Python</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2022 All Rights Reserved</p>
                <div>
                    <a href="#">Privacy |</a>
                    <a href="#"> Terms & Conditions |</a>
                    <a href="#"> Disclaimer</a>
                </div>
            </div>
        </div>
    </footer> -->
    </div>   
</body>
</html>    