{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <nav class="navbar d-flex flex-row align-items center g-0" id="mainNav">
        <div class="g-0"><img class="logo-img" src="{% static 'images/contend/team_logo.png' %}" alt="brand Logo"></div>
        <ul class="mainMenu">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="{% url 'about_us' %}">About Us</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="{% url 'FAQs' %}">FAQs</a></li>
            <li class="text-secondary g-0"><a class="text-secondary" href="{% url 'contact' %}">Contact Us</a></li>
    
            <button class="hidden1"><a href="{% url 'register' %}">Sign Up</a></button>
            <button class="hidden2"><a href="{% url 'logins' %}">log in</a></button>
    
            <div class="closeMenu g-0"><i class="fa fa-times"></i></div>
        </ul>
        <button class="signUp-button"><a href="{% url 'register' %}">Sign Up</a></button>
        <button class="navigation-button"><a href="{% url 'logins' %}">log in</a></button>
        <div class="openMenu g-0"><i class="fa fa-bars"></i></div>
    </nav>
    <div class="form-section">
        <div class="form-area">
            <div class="form-left-area">
                <div class="toptext-area">
                    <h1>Contact Us</h1>
                    <p>Got a question? message us here, <span>email us</span> or visit our <span>help center</span>.</p>
                    <p class="suggestion">Have a suggestion or feature request? <span>Send us your feedback</span>.</p>
                </div>
                <img src="{% static 'images/contact/contactimg.svg' %}" alt="contact us hero image" class="hidden-hero-img">
                <div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <form id="form-group" action="{% url 'contact' %}" method="POST" style="display: block;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Send">
                </form>
                <div class="contact-info">
                    <h2>Contact Information</h2>
                    <p>Email: support@mydebtors.com</p>
                    <p>Phone: (234) 8061-101-010</p>
                </div>
            </div>
            <img src="{% static 'images/contact/contactimg.svg' %}" alt="contact us hero image" class="hero-img">
        </div>
    </div>
    <article>
        <h2>Our Partners</h2>
        <div class="partners">
            <img src="{% static 'images/contact/partnerlogo.svg' %}" alt="partnerlogo" class="logo">
            <img src="{% static 'images/contact/spotifylogo.svg' %}" alt="partnerlogo" class="logo">
            <img src="{% static 'images/contact/fclogo.svg' %}" alt="partnerlogo" class="textlogo">
            <img src="{% static 'images/contact/Genentechlogo.svg' %}" alt="partnerlogo" class="textlogo">
            <img src="{% static 'images/contact/jpmlogo.svg' %}" alt="partnerlogo" class="textlogo">
        </div>
    </article>
    <div class="cta">
        <div class="cta-container">
            <div class="cta-row">
                <div class="cta_about">
                    <div class="cta-card">
                        <p><a><img class="logo-img" src="{% static 'images/contend/team_logo.png' %}" alt="logo"></a></p>
                        <p>My Debtors is a searchable database for schools to locate or contact their debtors.
                            We serve as middlemen between the school and the owing students.
                        </p>
                    </div>
                </div>
                <div class="cta_col">
                    <ul>
                        <h3>Pages</h3>
                        <li><a href="{% url 'homepage' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About us</a></li>
                        <li><a href="{% url 'FAQs' %}">FAQ</a></li>
                        <li><a href="#">Post/comment</a></li>
                        <li><a href="{% url 'register' %}">Registration</a></li>
                        <li><a href="#">Debtors list</a></li>
                        <li><a href="#">Debtors Profile</a></li>
                    </ul>
                </div>
                <div class="cta_col">
                    <ul>
                        <h3>Services</h3>
                        <li><a href="#">Notify debtors</a></li>
                        <li><a href="#">Help Schools track their debtors</a></li>
                        <li><a href="#">Access to view other schools' debtors list</a></li>
                        <li><a href="#">Debtors can contend</a></li>
                        <li><a href="#">Schools can comment on each others post</a></li>
                    </ul>
                </div>  
                <div class="cta_col">
                    <ul>
                        <h3>Resources</h3>
                        <li><a href="#">Figma</a></li>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Css</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Python</a></li>
                    </ul>
                </div>
                <div class="cta_col empty">

                </div>
            </div>

            <div class="contact">
                <div class="last_col">
                    <h3>Contact us</h3>
                    <p>You can contact us via email</p>
                    <div class="search-box">
                        <input type="text" class="email-box" placeholder="Enter email">
                        <button class="subscribe-btn">Subscribe</button>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <footer>
        <div>&#169 2022 All Right Reserved</div>
        <div>Privacy | Terms & Coditions | Disclaimer</div>
    </footer>
</body>
    <script>
        const mainMenu = document.querySelector('.mainMenu');
        const closeMenu = document.querySelector('.closeMenu');
        const openMenu = document.querySelector('.openMenu');
        const menu_items = document.querySelectorAll('nav .mainMenu li a .signUp-button .login-button');

        openMenu.addEventListener('click',show);
        closeMenu.addEventListener('click',close);

        // close menu when you click on a menu item 
        menu_items.forEach(item => {
            item.addEventListener('click',function(){
                close();
            })
        })

        function show(){
            mainMenu.style.display = 'flex';
            mainMenu.style.top = '0';
        }
        function close(){
            mainMenu.style.top = '-1500px';
        }

        $(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            })
        });
    </script>
</html> 