{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <title>Error</title>
</head>
<body>
    <main>
        <div class="cancel-area">
            <img src="{% static 'images/error/Cancel.svg' %}" alt="cancel-image" class="cancel">
        </div>
        <div class="error-section">
            <div class="error-message">
                <p>Oooops! Something went</p> 
                <p>wrong</p>
            </div>
            <img src="{% static 'images/error/Error.svg' %}" alt="Error-image" class="error-img">
        </div>
        <div class="wrong">
            <input type=button value="Try Again" onClick="javascript:history.go(-1);">
        </div>
    </main>
    <script>
        const clear = document.querySelector('.cancel');
        const card = document.querySelector('main')

        clear.addEventListener('click', close);

        function close(){
        card.remove()
        /*console.log('cleared')*/
        }

        $(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            })
        });
    </script>
</body>
</html> 