{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Welcome</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <div class="img"><img src="{% static 'images/index/debtors-logo.svg' %}" alt="Mydebtors"></div>
        <div class="nav">
            <nav>
                <a href="" style="color: hsla(358, 97%, 31%, 1);">Home</a>
                <a href="{% url 'about_us' %}">About Us</a>
                <a href="{% url 'FAQs' %}">FAQs</a>
                <a href="{% url 'contact' %}">Contact Us</a>
                <a class="btn1" href="{% url 'register' %}"><button class="one">Sign Up</button></a>
                <a class="btn1" href="{% url 'logins' %}"><button class="two">Log in</button></a>
            </nav>
        </div>
        <div id="mySidebar" class="sidebar left">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">FAQs</a>
            <a href="">Contact Us</a>
            <a href=""><button class="one">Sign Up</button></a>
                <a href=""><button class="two">Log in</button></a>
        </div>
        <div id="main">
            <button class="openbtn" onclick="openNav()"><img src="{% static 'images/index/Menu_Rounded.svg' %}" alt="" srcset=""></button>
        </div>
    </header>

    <main>
        <section class="intro">
            <div class="intro-text">
                <p>Get Ahead of Your<br><span style="color: hsla(358, 97%, 31%, 1);">Debtors</span> and Control<br>the Narrative</p>
                <div class="small-div">
                    <small>We help each schools to reach out to students debtors <br> about their debt, identify and blacklist who is unwilling to pay. We also help students track their debt status</small>
                </div>
                <p></p>
                <div class="div">
                    <button class="one" ><a style="color: white;" href="{% url 'register' %}">Get started</a></button>
                </div>
            </div>
                <div class="intro-img"><img src="{% static 'images/index/pana.png' %}" alt="imgbox"></div>
        </section>
        <section class="doc">
            <p style="font-size: 24px;" class="p1">How it works</p>
            <div class="doc-img"><img src="{% static 'images/index/landing-page-image.svg' %}" alt="docimage"></div>
            <div class="doc-img1"><img src="{% static 'images/index/mobile.png' %}" alt="docimage"></div>
            <div class="doc-item">
                <p style="font-size: 22px;" class="p2">How it works</p>
                <div class="container1">
                    <div class="item1">
                        <div class="item-one">1</div>
                        <div style="padding-top: 10px;">Login/Register to have access to the database</div>
                    </div>
                    <div class="item2">
                        <div class="item-one">2</div>
                        <div style="padding-top: 10px;">Post new data about a debtor or view a debtors profile</div>
                    </div>
                </div>
                <div class="container1">
                    <div class="item3">
                        <div class="item-one">3</div>
                        <div style="padding-top: 1px; line-height: 25px;">Send debtors a debt notification message through email <br> which may be contended by the debtors</div>
                    </div>
                    <div class="item4">
                        <div class="item-one">4</div>
                        <div style="padding-top: 10px;">Comment on posts by registered schools.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimony">
            <div class="reviews" style="text-align: center; font-weight:600">What People Say About Us</div>
            <div class="testy">
                <div class="ind">
                    <div>
                        <figure>
                            <img src="{% static 'images/index/Rectangle 8.png' %}" alt="indimg">
                            <figcaption style="font-weight: 600;">Jane Cooper <br> <i style="font-weight: 500;">Bursar, Kings College</i></figcaption>
                        </figure>
                    </div>
                    <div class="testy-text">
                        <p>
                            My Debtors helps us in recovery of old bad debt, and manages our school cas flow more efficiently.
                        </p>
                    </div>
                    <div class="testy-img">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                    </div>
                </div>
                <div class="ind">
                    <div>
                        <figure>
                            <img src="{% static 'images/index/Rectangle 9.png' %}" alt="indimg">
                            <figcaption style="font-weight: 600;">Robert Fox <br><i style="font-weight: 500;">Head of operations, Maryland Intl group of schools</i></figcaption>
                        </figure>
                    </div>
                    <div class="testy-text">
                        <p>
                            My Debtors have helped us to keep track of owing students and has helped us avoid admitting students who owe other schools.
                        </p>
                    </div>
                    <div class="testy-img">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="testy" style="justify-content: center;">
                <div class="ind">
                    <div>
                        <figure>
                                <img src="{% static 'images/index/Rectangle 9 (1).png' %}" alt="indimg">
                            <figcaption style="font-weight: 600;">Eleanor pena <br> <i style="font-weight: 500;">Principal, Best Brain High School.</i></figcaption>
                        </figure>
                    </div>
                    <div class="testy-text">
                        <p>
                            My Debtors has helped to put smiles on our face, we no longer have to worry about how to find students owing one fee or the other because we are rest assured that we will get back our money from them.
                        </p>
                    </div>
                    <div class="testy-img">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                        <img src="{% static 'images/index/star.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="achives">
            <div class="title">Our Achievements so far</div>
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="achives-content">
                <div class="num">
                    <div class="achives-img"><img src="{% static 'images/index/Ellipse 66.svg' %}" alt="stdimg"></div>
                    <div class="students">Get 7k+ students debt free</div>
                </div>
                <div class="num">
                    <div class="achives-img"><img src="{% static 'images/index/Ellipse 67.svg' %}" alt="schlimg"></div>
                    <div class="students">Helped 3k+ schools recover old debts</div>
                </div>
                <div class="num">
                    <div class="achives-img"><img src="{% static 'images/index/Ellipse 68.svg' %}" alt="p2simg"></div>
                    <div class="line3"></div>
                    <div class="students">Build better relationship between parents and school they owe</div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div><p style="text-align: center; font-weight: 600; font-size: 20px;">Our Partners</p></div>
            <div class="partner">
                <div class="partner-img dribble"><img src="{% static 'images/index/dribble-partners.svg' %}" alt="ball"></div>
                <div class="partner-img sportify"><img src="{% static 'images/index/sportify-partners.png' %}" alt="sportify"></div>
                <div class="partner-img fcircle"><img src="{% static 'images/index/Funding Circle-partners.svg' %}" alt="fcircle"></div>
                <div class="partner-img gentech"><img src="{% static 'images/index/Genentech-partners.png' %}" alt="gentech"></div>
                <div class="partner-img jpmorg"><img src="{% static 'images/index/J.P. Morgan-partners.png' %}" alt="j.p morgan"></div>
            </div>
        </section>
    </main>
    <footer>
        <div class="ft">
            <div class="foot">
                <div class="footer-txt">
                    <div class="img" style="float: left;"><img style="width: 120px;" src="{% static 'images/index/debtors-logo.svg' %}" alt="Mydebtors"></div>
                    <br>
                    <p class="foot-txt">My Debtors is a searcheable database for schools to locate or contact their debtors. <br>We serve as middlemen between the school and the owing students.</p>
                </div>
                <div class="conct">
                    <p style="color: hsla(43, 100%, 52%, 1);">Contact Us</p>
                    You can contacts us via email
                
                    <p></p>
                    <div class="sub">
                        <input type="text" placeholder="Enter email">
                        <button class="one" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="others">
                <div class="pages">
                    <p style="color: hsla(43, 100%, 52%, 1);">Pages</p>
                    <p><a href="">Home</a></p>
                    <p><a href="{% url 'about_us' %}">About Us</a></p>
                    <p><a href="">FAQs</a></p>
                    <p><a href="">Registration</a></p>
                </div>
                <div class="services">
                    <p style="color: hsla(43, 100%, 52%, 1);">Services</p>
                    <p>Notify debtors</p>
                    <p>Help school track their debtors</p>
                    <p>Access to view other school debtors</p>
                    <p>Debtors can contend</p>
                    <p>Schools can comment on other school's post</p>
                </div>
                <div class="resources">
                    <p style="color: hsla(43, 100%, 52%, 1);">Resources</p>
                    <p>Figma</p>
                    <p>Html</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>Python</p>
                </div>
            </div>
            <div class="foot1">
                <div class="footer-txt1">
                    <div class="img" style="float: left;"><img src="{% static 'images/index/debtors-logo.svg' %}" alt="Mydebtors"></div>
                    <br>
                    <p class="foot-txt">My Debtors is a searcheable database for schools to locate or contact their debtors. <br>We serve as middlemen between the school and the owing students.</p>
                </div>
                <div class="conct1">
                    <p style="color: hsla(43, 100%, 52%, 1);">Contact Us</p>
                    You can contacts us via email
                
                    <p></p>
                    <div class="sub">
                        <input type="text" placeholder="Enter email">
                        <button class="one" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-and-c">
            <div class="rights"><span>&copy;</span>2022 All Right Reserved</div>
            <div class="privacy">
                <a href="">Privacy |</a>
                <a href="">Terms & Conditions |</a>
                <a href="">Disclaimer</a>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            })
        });
    </script>
    <script src="{% static 'javascript/index.js' %}"></script>
</body>
</html>