<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactus.css">
    <title>Contact Us</title>
</head>
<body>
    <div class="form-section">
        <div class="form-area">
            <div class="form-left-area">
                <div class="toptext-area">
                    <h1>Contact Us</h1>
                    <p>Got a question? message us here, <span>email us</span> or visit our <span>help center</span>.</p>
                    <p class="suggestion">Have a suggestion or feature request? <span>Send us your feedback</span>.</p>
                </div>
                <img src="assets/contactimg.svg" alt="contact us hero image" class="hidden-hero-img">        
                <form action="" method="post">
                    <label for="email">
                        email
                        <input type="email" name="email" placeholder="email" required>
                    </label>
                    <label for="feedback">Message
                        <textarea name="feedback" id="feedback" cols="40" rows="10" minlength="10" maxlength="1000">Your message...</textarea>
                    </label>
                    <input type="button" value="Send">
                </form>
                <div class="contact-info">
                    <h2>Contact Information</h2>
                    <p>Email: support@mydebtors.com</p>
                    <p>Phone: (234) 8061-101-010</p>
                </div>
            </div>
            <img src="assets/contactimg.svg" alt="contact us hero image" class="hero-img">
        </div>
    </div>
    <article>
        <h2>Our Partners</h2>
        <div class="partners">
            <img src="assets/partnerlogo.svg" alt="partnerlogo" class="logo">
            <img src="assets/spotifylogo.svg" alt="partnerlogo" class="logo">
            <img src="assets/fclogo.svg" alt="partnerlogo" class="textlogo">
            <img src="assets/Genentechlogo.svg" alt="partnerlogo" class="textlogo">
            <img src="assets/jpmlogo.svg" alt="partnerlogo" class="textlogo">
        </div>
    </article>
</body>
</html>