<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="error.css">
    <title>Error</title>
</head>
<body>
    <main>
        <div class="cancel-area">
            <img src="assets/Cancel.svg" alt="cancel-image" class="cancel">
        </div>
        <div class="error-section">
            <div class="error-message">
                <p>Oooops! Something went</p> 
                <p>wrong</p>
            </div>
            <img src="assets/Error.svg" alt="Error-image" class="error-img">
        </div>
        <div class="wrong">
            <input type="button" value="Try Again">
        </div>
    </main>
    <script src="clear.js"></script>
</body>
</html>